<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="TweetSharp.Demo.WindowsPhone.Configuration.ApplicationSettingsSection,TweetSharp.Demo.WindowsPhone" />
  </configSections>
  <ApplicationSettings>
    <appSettings>
      <add key="ConsumerKey" value="FoPkSSxcwjGzRpTVe4zPVg"/>
      <add key="ConsumerSecret" value="hE3BPGfo6SNedRii5s7cdzEqqh3X2RQTJQoqAyhpa4" />
      <add key="AccessToken" value=""/>
      <add key="AccessTokenSecret" value=""/>
    </appSettings>
  </ApplicationSettings>
</configuration>
