<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Hero" value="yortwdevtest"/>
    <add key="ConsumerKey" value="JP7YWxKF6rJTtIUbLWhbJpbX9"/>
    <add key="ConsumerSecret" value="UaozFHIjvFhI6VZv5lJsWursPp7xQ8g16UalA9zlsc4nQUdVmg"/>
    <add key="AccessToken" value="2662535479-eSgMrb9iHN2ZaMH1OGU14mb2vrl9f0pKgIePe8S"/>
    <add key="AccessTokenSecret" value="VKQ5zC6qyV1iMR8Xfx3a3nu0HJ3Bgdkh7H7fAhNVklBvK"/>
		<add key="TwitPicKey" value="66d882eba466204150d493b0d27c54e4"/>
		<add key="TwitPicUserName" value="yortwdevtest"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
