<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Hero" value="danielcrenna"/>
    <add key="ConsumerKey" value="ALcQW068Y8xpPjFOOHn8PA"/>
    <add key="ConsumerSecret" value="u5TAKNhXQb16i32Dtlz5zvribUU95weUk3SajsdJQ"/>
    <add key="AccessToken" value="11173402-928tUEZFjFsYzLg3UgCa1RnYnoYqQBhaot0GHZNGB" />
    <add key="AccessTokenSecret" value="pR02TKzY488Bn0GD2P5gmG1qRbMe2Q5vnCbffl1vCY"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
