<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Hero" value="danielcrenna"/>
    <add key="ConsumerKey" value="SQiXU2ysJwpNb1XsFCjFA"/>
    <add key="ConsumerSecret" value="S1DlujQkmXOkqsqOCBeohWu1s8f1TB7IQ0a9X2J7BoE"/>
    <add key="AccessToken" value="11173402-c7bDQa0C44ts7EPY8dANxF9Kk4KTyWRQ5Ee0fBlkU" />
    <add key="AccessTokenSecret" value="ykklTBYVM3HaRms58VUrrJ102hqV9elZvKJ6pKJCXw"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
